*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navbar {
    display: flex;
    height: 38px;
    background: #060404;
    align-items: center;
}

ul{
    display: flex;
    padding: 32px 47px;
}
li{
    font-size: 1rem;
    margin: 42px;
}
a{
    color: white;   
       text-decoration: none;
    font-weight: bold;

}
h2{
text-align: center;
color: black;
}
.container{
    
    margin: 35px 0px;
}
input, textarea{
    display: block;
    margin: 12px 254px;
    padding: 11px 322px;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
}
.btn{
    margin: 14px 600px;
    border: 2px solid black;
    border-radius: 8px;
}
    


